<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>RSN Analysis Dashboard</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.shopify.com/s/files/1/0691/5403/t/121/assets/style.scss.css?3719080539427352740" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="RsnAnalysisDashboard">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
