<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <h3 class="inline">RSN</h3>
            <ul class="nav navbar-nav" ng-hide="viewingReport">
                <!--<li class="inline"><span ui-sref="report">Analysis</span></li>-->
                <li><a href="dashboard">Dashboard</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav" ng-hide="viewingReport">
            <li>
                <span class="btn btn-sm btn-primary" ui-sref="company" ui-sref-opts="{ reload: true }">Add Company</span>
                <!--<span class="btn btn-sm btn-primary" ng-click="downloadCSV()">Export Data as CSV</span>-->
                <span class="btn btn-sm btn-primary" ng-click="downloadJSON()">Export Data as JSON</span>
            </li>
            <li>
                <span class="btn btn-sm btn-default" show="user" ng-click="logout()">Logout</span>
            </li>
        </ul>
        
        <ul class="nav navbar-nav">
          <li>
           <!-- <span class="btn btn-sm btn-default" ng-show="!user" ui-sref="signup">Signup</button> -->
                <span class="btn btn-sm btn-default" ng-show="!user" ui-sref="login">Login</button>
          </ul>
        </ul>
    </div>
</nav>
