<section>
  <div class="col-xs-12">
    <table class="table table-striped table-bordered">
      <thead>
        <th>Company</th>
        <th ng-repeat="year in [2017, 2016, 2015, 2014]">
          {{year}}
          <a ng-href="/api/csv/year/{{year}}" target="_self" download="{{year}}.csv"><span class="btn btn-xs btn-default pull-right" >Download {{year}} Report</span></a>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="company in companies">
          <td>
            <a ui-sref="company({id: company._id})">{{ company.name || company.cik }}</a>
            <a ng-href="/api/csv/company/{{company._id}}" target="_self" download="{{company.name}}.csv"><span class="btn btn-xs btn-default pull-right">Download Reviews</span></a>
          </td>
          <td ng-repeat="year in [2017, 2016, 2015, 2014]" ng-init="reviewId = getReviewId(company, year); sec_url=getSECUrl(company, year)">
            <!--We currently don't calculate a score so removing for now-->
            <!--<span class="btn btn-sm btn-default disabled">{{getReviewScore(company, year) || 'No Score'}}</span>-->
            <span class="btn btn-sm btn-default" ng-show="reviewId" ui-sref="review({id: reviewId})">See Review</span>
            <span class="btn btn-sm btn-default" ng-show="!reviewId" ui-sref="review({company: company._id, year: year })">Add Review</span>
            <a class="btn btn-sm btn-success" ng-show="sec_url" href="{{sec_url}}" title="Go to the Special Disclosure page on SEC website">Go to SD</a>
            <span class="btn btn-sm btn-danger disabled" ng-show="!sec_url">No SD</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
