<section>
  <div class="row">
    <div class="col-sm-7 evaluation-form">
      <h3>{{review.company.name}} {{review.year}} Evaluation</h3>
      <hr>
      <!-- Form -->
      <div ng-repeat="indicator in indicators track by $index">
        <p>{{indicator.indicator_id}} - {{indicator.indicator_description}}</p>
        <input class="" type="checkbox" ng-model="review.evaluation[indicator.indicator_id]" ng-true-value="1" ng-false-value="0"> Yes / No 
        <hr>
      </div>
      <span class="btn btn-primary" ng-click="updateEvaluation(review)">Update Evaluation</span>
    </div>

    <div class="col-sm-5 supporting-documents">
      <h3>Supporting Documents</h3>
      <div ng-repeat="document in review.supporting_documents">
        <hr>
        <a href="{{document.url}}" target="_blank"><span class="btn btn-md btn-primary">{{document.title}}</span></a>
      </div>
      <hr>
      <span class="btn btn-sm btn-default" ng-click="">Add Supporting Document</span>
    </div>

  </div>
</section>
